*{  margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    }
/*ajustamos el boddy para que ocupe todo el espacio de la pantalla*/
body{
    background-color: #212121;
    height: 99.90vh;
    width: 99.90vw;
    margin: 0;
    }

/*--------------------Ediciones (?) generales------------------------*/

p{
font-size: 100%;
padding: 0;
text-align: center;
    font-family: "Papyrus", fantasy;
}

a{
    color: white;
    font-family: "Copperplate", fantasy;

}

h1{
	font-size: 100%;
    margin-left: 0.5em;
	padding: 0;
	text-align: left;
    font-family: "Lucida Handwriting", "Courier New", cursive;
}

/*-------------------Breakpoints----------------------*/
@media only screen and (min-width: 768px){
    .encabezado{
        /*font-size: 40px;*/
        font-size: 201%;
    }
    .navbar{
        height: 76.64vh;
    }
    .fila div {font-size: 40px;}
    h1{font-size: 40px;}
    .spacer{
        min-height: 35vh;
    }
    .Eula{font-size: 40px;
        min-height: 60px;
    }
}

@media only screen and (max-width: 768px){
    .encabezado{
        font-size: 20px;
    }
    .navbar{
        height: 80vh;
    }
    .fila div {font-size: 20px;}
    h1{font-size: 20px;}
    .spacer{
        min-height: 40vh;
    }
    .Eula{font-size: 20px;
        min-height: 40px;}

}
@media only screen and (max-width: 600px){
    .encabezado{
        font-size: 20px;
    }
    .navbar{
        height: 80vh;
    }
    .fila div {font-size: 15px;}
    h1{font-size: 15px;}
    .spacer{
        min-height: 40vh;
    }
    .Eula{font-size: 17px;
        min-height: 40px;}
    .pie p{font-size: 15px;}

}
/*--------------Ediciones específicas-----------------*/


.marco {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #212121;
  height: 95vh;
}
.cabecera {
    width: 100%;
    min-height: 7%;
    float:right;
}
.pie{
	font-size:20px;
	height: 5vh;
	width: 100%;
    padding: 4px;
	background-color: #212121;
    color: white;
    position:fixed;
}
.ColIzq {
  background-color: #323232;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 95vh;
}
/*Nombre y logotipo de la página
colocados en un div (grid), se evita la seleccíon del contenido `por parte del usuario*/
.encabezado{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #212121 ;
    color: White;
    user-select: none;
    height: 7.5vh;
    padding-left: 1em;
    padding-top: 1em;
}
/*ajustes de tamaño del logotipo*/
.Logo{
    min-width: 20%;
}
/*Ajustes de posición del nombre de la web*/
.nombre{
    padding-left: 0;
}
/*Div contenedor de todo el tramo medio del menú lateral*/
.navbar{
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding-top: 0.5em;
}
/*sub-grid que almacena cada opción con su icono*/
.fila{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 0;
    font-size: 45px;
    color: white;

}
/*efecto de selección*/
.fila:hover{
    background-color: #6d6d6d;
    color: black;
}
/*ajustes de tamaño de cada fila*/
.fila div{
    max-height: 15vh;
    padding-right: 5px;
    padding-top: 0.5em;
    padding-left: 10px;
}
/* Elementos que contienen la politica de privacidad y cookies
colocados en un grid 50|50*/
.Eula{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    background-color: #212121;

}
.Eula div{
    height: 100%;
    text-align: center;
}
/*efecto de selección*/
.Eula div:hover{
    background-color: #6d6d6d;
    color:black;
}
/*Sobreponemos un link a todo el div*/
.Eula a{
    display: block;
    text-decoration: none;
    color: white;
}

.spacer-2{
    min-width: 70%;
}
.ColDcha {
  background-color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0;
  font-size: 30px;
  max-height: 89vh;
  text-align: center;
    color: white;
}
.musica{
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.secciones_musica{
	height:45%;
	background-color: #323232;
	margin: auto;
}

.titulos_secciones{
  background-color: #323232;
  font-size: 100%;
  max-height: 20%;
  width: 95%;
  text-align: left;
    margin-left: 2%;
    margin-top: 1%;
    /*border-top: 1px solid rgba(0, 0, 0, 0.8);*/

}

.canciones{
	/*grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;*/
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.cancion{
	height: auto;
	width: 15%;
    transition: transform .2s; /* Animation */
    background-position: center center;
    min-width: 100px;
    padding: 15px;
    background-color: #14FFEC;
    margin: 1%;

}

.cancion_container{
	position: relative;
}

.cancion_container img {
    width: 75%;
}

.titulo_artista{
	font-size: 30%;
    text-align: center;
    margin-left: 4%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #6d6d6d;

}

.cancion_container:hover .overlay {
  opacity: 0.8;
}

.overlay audio {
	width: 100%;
	height: 100%;
}


.cancion:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
}

.cabecera ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 75%;
}

.cabecera li {
    float: right;
}

.cabecera li a {
    display: block;
    text-align: center;
    padding: 0.75vh 12px;
    text-decoration: none;
}
