*{  margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    }
body{
    background-color: black;
    height: 99.90vh;
    width: 99.90vw;
    margin: 0;
    overflow: auto;
    }
p{
font-size: 100%;
margin: 2px;
padding: 0;
text-align: center;
line-height: 13px}

a{
    color: black;
}

h1{
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-align: left;}

.marco {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #2196F3;
  height: 95%;
  width: 100%;
}
.cabecera {
    width: 100%;
    min-height: 6.5%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.pie{
	font-size:20px;
	height: 4%;
	width: 100%;
    padding-top: 8px;
	background-color: purple;
}
.ColIzq {
  background-color: rgba(100, 100, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  margin: 0;
  padding: 0;
  max-height:100%;
  text-decoration: none;
}
.ColIzq header{
      font-size: 45px;
      color: white;
      text-align: left;
      line-height: 70px;
      background: blue;
      height: 10vh; /*10/97*/

}
.logo_img{
        max-height: 80%;
        text-align:left;
        padding: 0.25em 0.5em;
        vertical-align: middle;
        }
.ColIzq ul a{
    display: block;
    height: 10vh;
    width: 100%;
    line-height: 75px;
    font-size: 30px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top :1px solid rgba(255,255,255, .1);
    border-bottom: 1px solid black;

    }
.spacer-0{
    max-height: 2vh;/*12/97*/
    }
.spacer-1{
    min-height:22vh;/*47/97*/
    }
.spacer-2{
    min-width: 58vw;
}
.ColDcha {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0;
  font-size: 30px;
  max-height: 100%;
  text-align: center;
}
.menu {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
  height: 100%;

}
.opcion{
    width: 100%;
    height: 10%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 30% 70%;

}
.link{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.musica{
    height: 98%;
    width: 100%;
    overflow: auto;
}
.secciones_musica{
	height:31%;
	background-color: red;
	margin-top: 2px;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

.titulos_secciones{
  background-color: yellow;
  font-size: 60%;
  max-height: 10%;
  width: 100%;
  text-align: left;
}

.canciones{
	height: 90%;
 	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	background-color: green;
}

.cancion{
	height: auto;
	width: 100%;
    transition: transform .2s; /* Animation */
}

.cancion_container{
	position: relative;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 75%;
}

.cancion_imagen{
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 15px;
  width: 90%;
  height: 90%;
}

.titulo_artista{
	font-size: 13px;
	background-color: #f3c2ad
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008CBA;

}

.cancion_container:hover .overlay {
  opacity: 0.8;
}

.overlay audio {
	width: 100%;
	height: 100%;
}


.cancion:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
}

.cabecera ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.cabecera li {
    float: left;
}

.cabecera li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}